name: Metrics

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: Ganglet
          template: classic
          base: header, activity, community, repositories, metadata

          config_timezone: Asia/Kolkata

          # Plugins
          plugins_errors_fatal: false
          plugins_languages: yes
          plugins_languages_ignored: html, css
          plugins_languages_details: percentage
          plugins_achievements: yes
          plugins_achievements_threshold: B
          plugins_achievements_secrets: no
          plugins_achievements_display: compact
